/*.background {
    background-image: url('static/images (16).jpeg');
    background-size: 400% 100%;
    width: 100%;
    height: 500%;
    color: darkgrey;
    text-align: center;
}*/

.background {
    background-image: url('static/images (16).jpeg');
    color: solid black;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.height {
    height: 700px;
}

.my-image {
    height: 50%;
    width: 50%;
}

.content {
    display: inline-block;

}

.logo {
    height: 64px;
    width: 64px;
    margin-left: 5px;
    margin-right: 5px;
}

.project {
    background-color: whitesmoke;
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;

}

.education {
    background-color: skyblue;
    text-align: center;
}

img {
    margin-right: 5px;
    margin-left: 5px;
}

.bhanu {
    padding-top: 10px;
    height: 150px;
    width: 150px;
    border-radius: 150px;
    text-align: center;
}

.content1 {
    margin-top: 40px;
    text-align: center;
}

.underline1 {
    font-weight: bold;
    border-bottom: 2px cadetblue;
    border-width: 2px;
}
