/*.align {
    text-align: center;
}

.btn1 {
    border: 1px solid white;
    color: white;
}

.column1 {

    background-color: black;
}

.right {
    text-align: right;
}

.color {
    color: darkgrey;
}

.h6 {
    font-color: black;
}

.bg1 {
    background-color: skyblue;
}

.padd {
    padding-top: 30px;
    padding-bottom: 30px;

}

.smoke {
    background-color: whitesmoke
}

.left {
    text-align: left;
}

.minus {
    margin-right: -50px;
}


.mini {
    margin-right: -75px;
}

.margin {
    margin-right: -5px;
    margin-left: -5px;
}

.pad {
    padding-top: auto;
    padding-bottom: auto;
}

.none {
    list-style-type: none;
    font-size: 10px;
    color: darkgrey;
}

.full {
    background-color: black;
}

.colpad {
    padding: 10px;
}

.colpad1 {
    margin-top: 7px;
}

.btn2 {
    color: white;
}

.margin-left {
    margin-left: -15px;
}

.margin-right {
    margin-right: -20px;
}
*/

.mar-left {
    margin-left: 50px;
}

.logo-container {
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
}

.space {
    padding-top: 40px;
    padding-bottom: 40px;
}


.align {
    text-align: center;
}

.column1 {

    background-color: black;
}

.smoke {
    background-color: whitesmoke
}

.border {
    border: 1px solid black;
}

.image-percent {
    width: 20%;
}

.mar-bottom {
    margin-bottom: 15px;
}

.mar-side {
    margin-left: 15px;
    margin-right: 15px
}

.right {
    text-align: right;
}

.invert {
    filter: invert(100%);
}

.btn-outline-primary {
    color: white;
    border: 1px solid white;
}

.bg1 {
    background-color: skyblue;
}
